<%- include('header', {type: 'signup'}) %>
    <div class="signup__container">
        <form class="signup__form signup__form--create" method="post">
            <div>
                <label>用户名：</label>
                <input type="text" placeholder="请输入用户名" name="name">
            </div>
            <div>
                <label>密码：</label>
                <input type="password" placeholder="请输入密码" name="password">
            </div>
            <div>
                <label>重复密码：</label>
                <input type="password" placeholder="请确认密码" name="repeatPassword">
            </div>
            <!-- <div>
                <label>上传头像：</label>
                <input type="file" name="name" id="avator">
            </div> -->
            <div class="signup__formSubmit submit">注册</div>
            <div style="clear: both"></div>
        </form>
    </div>
    <script>
        $(window).keyup(function (e) {
            //console.log(e.keyCode)
            if (e.keyCode == 13) {
                $('.submit').click()
            }
        });
        $('.submit').click(()=>{
            let name = $('input[name=name]').val();
            let pwd = $('input[name=password]').val();
            let repwd = $('input[name=repeatPassword]').val();
            
            let msg = [];
            // console.log($('.form').serialize())
            if (name.trim() == '') {
                msg.push('请输入用户名！');
            }
            if(name.match(/[<'">]/g)){
                msg.push('请输入合法字符！');
            }
            if(pwd.trim() == '') {
                msg.push('请输入密码！');
            }
            if(repwd.trim() == '') {
                msg.push('请重复输入密码！');
            }
            if(pwd !== repwd) {
                msg.push('二次密码不一致！');
            }
            if(msg.length > 0) {
                fade(msg.join(' '));
                return false;
            }
            
            $.ajax({
                url: "/signup",
                data: {
                    name: name,
                    password: pwd,
                    repeatpass: repwd
                },
                type: "POST",
                cache: false,
                dataType: 'json',
                success: function (msg) {
                    if (msg.data == '1') {                 
                        $('input').val('')
                        fade('用户名存在')
                    }
                    else if (msg.data == 2){
                        fade('请输入重复的密码')                        
                    }
                    else if(msg.data == 3){
                        fade('注册成功')
                        setTimeout(()=>{
                            window.location.href = "/signin"      
                        },1000)
                    }
                },
                error: function () {
                    alert('异常');

                }
            })  
        })
    </script>
<%- include('footer') %>